body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; 
}

h1 {
	display: block; 
	font-size: 1.3em; 
	margin-bottom: 0.5em; 
	color: #666; 
	font-weight: bold;
}

p {
	margin-bottom: 1em; 
}

img {
	border: none;
}

div.image { 
	width: 100px; 
	height: 100px; 
	margin-top: 1px; 
	margin-right: auto; 
	margin-bottom: 1px; 
	margin-left: auto; 
	background-attachment: scroll; 
	background-origin: initial; 
	background-clip: initial; 
	background-color: transparent; 
	background-position: 0% 0%; 
	background-repeat: no-repeat no-repeat; 
}

div .browser {
	width: 118px; 
	height: 18px; 
	color: #888; 
	font-size: 0.8em; 
	line-height: 17px; 
	margin-top: 1px; 
	margin-right: auto; 
	margin-bottom: 1px; 
	margin-left: auto; 
	text-align: center;			
}

li {
	background-image: url(background_browser.gif); 
	width: 120px; 
	height: 122px; 
	margin: 5px; 
	background-position: 0% 0%; 
	background-repeat: no-repeat no-repeat;
	background-attachment: scroll; 
	background-origin: initial; 
	background-clip: initial; 
	background-color: transparent; 
	float: left;
}

ul {
	list-style-position: outside; 
	list-style-image: none; 
	list-style-type: none; 
	margin: 0 auto; 
	padding: 5px; 
}

#background {
	margin: 60px 100px; 
	width: 660px; 
	height: 260px; 
	padding: 20px; 
	background-color: #FFF; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #CCC; 
	list-style-type: none; 
	color: #666; 
	font-size: 12px; 
}

#license {
	margin: 40px 5px 5px 5px; 
	color: #AAA; 
	font-size: 12px; 
}

#license a {
	color: inherit; 
	font-size: inherit; 
}